---
export interface Props {
    id: string;
    title: string;
    subtitle: string;
    image: string;
    description: string;
    details?: string;
}

const { id, title, subtitle, image, description, details } = Astro.props;
---
<div class="portfolio-modal modal fade" id={id} tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="src/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">{title}</h2>
                            <p class="item-intro text-muted">{subtitle}</p>
                            <img class="img-fluid d-block mx-auto" src={image} alt="..." />
                            <p>{description}</p>
                            {details && <p>{details}</p>}
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>